Init setup for fugue and Jupyter (command: fugue-jupyter install startup)
Enable notebook etensions

In [2]:
from fugue_notebook import setup
setup(is_lab=True)

Fugue SQL

In [23]:
import pandas as pd
from pyspark.sql import SparkSession
from fugue.api import fugue_sql_flow
import fugue.api as fa
import duckdb

data = [ 
{
    'Title' : 'Python for Data Analytics 1',
    'Author' : "James Colon",
    'Publisher' : "PublishingTops",
    'Price' : 1000.00,
    'UnitsSold': 1000
}, 
{
    'Title' : 'Python for Data Analytics 2',
    'Author' : "James Corson",
    'Publisher' : "PublishingToppy",
    'Price' : 1000.00,
    'UnitSold': 1000
},
{
    'Title' : 'Python for Data Analytics 3',
    'Author' : "James Corson",
    'Publisher' : "PublishingTops",
    'Price' : 1000.00,
    'UnitsSold': 1000
},
{
    'Title' : 'Python for Data Analytics 4',
    'Author' : "James Con",
    'Publisher' : "PublishingToppy",
    'Price' : 1000.00,
    'UnitsSold': 1000
},
{
    'Title' : 'Python for Data Analytics 5',
    'Author' : "James Corson",
    'Publisher' : "PublishingTops",
    'Price' : 1000.00,
    'UnitsSold': 1000
},
]

# Save data to the file type of choice
df = pd.DataFrame(data)
df.to_parquet("./tmp/df.parquet")\
# C:\Projects\py-data-engineering\Book 2\python sql\tmp

In [19]:
# Queries using pandas engine

query = """
    LOAD './tmp/df.parquet'
    SELECT Author, COUNT(Title) AS NbBooks
    GROUP BY Author
    PRINT
"""

pandas_df = fa.fugue_sql(query, engine="pandas")

In [20]:
# Queries using pyspark engine

query = """
    LOAD './tmp/df.parquet'
    SELECT Author, COUNT(Title) AS NbBooks
    GROUP BY Author
    PRINT
"""

spark_df = fa.fugue_sql(query, engine="spark")

In [25]:
# Queries using duckdb engine

query = """
    df= LOAD './tmp/df.parquet'
    res =  SELECT * 
    FROM df
    WHERE Author = 'James Corson'
    SAVE res OVERWRITE './tmp/df2.parquet'
"""

fa.fugue_sql(query, engine="duckdb")

with duckdb.connect() as conn:
    df2 = conn.execute("SELECT * FROM './tmp/df2.parquet'").fetchdf()

print(df2.head())

                         Title        Author        Publisher   Price  \
0  Python for Data Analytics 2  James Corson  PublishingToppy  1000.0
1  Python for Data Analytics 3  James Corson   PublishingTops  1000.0
2  Python for Data Analytics 5  James Corson   PublishingTops  1000.0

   UnitsSold  UnitSold
0        NaN    1000.0
1     1000.0       NaN
2     1000.0       NaN